@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1687945706404') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengshu:before {
  content: "\e606";
}

.icon-zhengshu-copy:before {
  content: "\e640";
}

.icon-gongzuojingli:before {
  content: "\e61c";
}

.icon-huodong:before {
  content: "\e605";
}

.icon-bisai:before {
  content: "\e60f";
}

.icon-keyan:before {
  content: "\e509";
}

.icon-fabiaolunwen:before {
  content: "\e615";
}

.icon-zhuanyezhishijineng:before {
  content: "\e7b6";
}

.icon-ziwopingjia:before {
  content: "\e626";
}

.icon-ziwopingjia1:before {
  content: "\e620";
}

.icon-zuqiu:before {
  content: "\e527";
}

.icon-zuqiu1:before {
  content: "\e616";
}

.icon-keyanxitong:before {
  content: "\e63e";
}

.icon-dizhi:before {
  content: "\e614";
}

.icon-jiaoyukeyan:before {
  content: "\e883";
}

.icon-zhengshu1:before {
  content: "\e63f";
}

.icon-lunwenfabiaoshuliang:before {
  content: "\e612";
}

.icon-keyanjingfei:before {
  content: "\e613";
}

.icon-zuqiu2:before {
  content: "\e8bf";
}

.icon-ruanzhuyuce:before {
  content: "\e733";
}

.icon-keyan1:before {
  content: "\e62b";
}

.icon-bisaiguanli:before {
  content: "\e758";
}

.icon-dizhi1:before {
  content: "\e814";
}

.icon-a-guihuatubiaoyuanwenjianFarlim_huaban1fuben50:before {
  content: "\e617";
}

.icon-zuqiu3:before {
  content: "\e618";
}

.icon-xiangmujingli-04:before {
  content: "\e6d4";
}

.icon-bisai1:before {
  content: "\e60c";
}

.icon-bisai2:before {
  content: "\e610";
}

